.lang-switcher .lang-menu {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-weight: 400;
  .globe-icon {
    margin-right: 5px;
    color: #91929D;
  }
  .arrow-icon {
    margin-left: 9px;
    color: $semigray;
  }
}

.content-header {
  height: 50px;
  padding: 0 30px;
  flex-shrink: 0;
  .profile {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    font-weight: 600;
    .profile-menu {
      display: flex;
      align-items: center;
      height: 17px;
    }
    .separator {
      margin: 0 5px;
      width: 1px;
      height: 17px;
      background-color: #d5d8ef;
      display: inline-block;
      vertical-align: text-bottom;
    }
    svg {
      margin-left: 8px;
    }
  }
  .profile-dropdown {
    min-width: 300px;
    li a svg {
      margin-top: -2px;
    }
    .custom-menu p {
      padding-left: 0;
      padding-right: 0;
    }
    .custom-item {
      display: flex;
      align-items: center;
      svg { margin: 0; flex-shrink: 0 }
      span { flex-grow: 1; padding: 0 4px; }
    }
    .subitem {
      .dropdown-item {
        padding-left: 38px;
        font-size: 12px;
        height: 24px;
        line-height: 24px;
      }
    }
  }
  .lang-switcher .lang-menu {
    font-size: 16px;
  }
}
